body {
  font: 18px 'Raleway', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color:#777;
  background: url("../images/geometry.png");
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.wrapper {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto -105px;
}

footer,
.push {
  height: 90px;
}

/* general */

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #4aaaa5;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 1px solid #ddd;
}

h2,
h3 {
  font-size: 22px;
}

/* header */

#masthead {
  position: static;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #fff;
  background: #fff;
}

#logo {
  float: left;
  width: 300px;
  height: 90px;
  font-family: 'Lato', san-serif;
  font-size: 30px;
  font-weight: 200;
  line-height: 90px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: black;
}

nav {
  float: right;
  margin-top: 25px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}

nav a:hover {
  color: #347773;
}

/* footer */

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background-color:  #666;
  border-top: 3px solid #4aaaa5;
}

/* sidebar */

.sidebar {
  float: right;
  width: 100%;
  max-width: 270px;
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
}

h3,
.sidebar h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 1px solid #eee;
}

.social {
  display: inline;
}

.social a:hover {
  cursor: pointer;
  opacity: 0.8;
}

.fa {
  color: #333;
  padding: 0 8px;
}

/* main */

.main-section {
  float: left;
  width: 100%;
  max-width: 650px;
  padding: 30px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #ddd;
}

/* portfolio page */

.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  border: 0 none;
  opacity: 0.8;
  height: 200px;
  width: 350px;
  width: 100%;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.work h3:hover {
  background: #347773;
}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}

/* unvisited link */
a:link {
  color: darkcyan;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

/* Animation */

@keyframes polyRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  .polyRotate {
    animation: polyRotate 14s linear infinite;
  }

/* Responsive */

@media (max-width: 980px) { 
  .container {
    max-width: 700px;
  }

  .main-section {
    max-width: 400px;
  }

  .auth-image {
    clear:left;
    float: none;
    width: 100%;
  }

  .work {
    float: none;
    width: 100%;
  }
}

@media (max-width: 768px) { 
  .container {
    max-width: 725px;
  }

  .main-section {
    max-width: 100%;
    margin-bottom: 0px;
  }

  .auth-image {
    float: left;
    width: 200px;
  }

  .work {
    float: left;
    width: 274px;
  }

  .sidebar {
    float: left;
    width: 100%;
    max-width: 725px;
    margin: 30px 0;
  }
}

@media (max-width: 640px) { 
  #masthead > .container {
    max-width: 640px;
  }

  .container {
    max-width: 600px;
  }

  .main-section {
    max-width: 100%;
  }

  #logo {
    width: 100%;
  }

  nav {
    clear: both;
    float: none;
    text-align: center;
    padding: 15px 0;
  }

  nav a {
  padding: 0 30px;
  margin-left: 15px;
  font-size: 15px;
  }

  nav a:first-child {
    margin-left:0;
  }

  .auth-image {
    float: none;
    width: 100%;
  }

  .sidebar {
    float: left;
    width: 100%;
    max-width: 600px;
    margin: 30px 0;
  }

  .work {
    float: none;
    width: 100%;
  }
}
